<h1 mat-dialog-title style="display: flex; align-items: center;">
    ROUGE Interpretation
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button [mat-dialog-close]>
        <mat-icon>close</mat-icon>
    </button>
</h1>
<div mat-dialog-content style="font-size: 1.2em;">
    Recall-Oriented Understudy for Gisting Evaluation (ROUGE) evaluate the similarity between human summaries and machine output with:
    <ul>
        <li>Rouge-1 : Overlap of unigram (1 word)</li>
        <li>Rouge-2 : Overlap of bigrams (2 words)</li>
        <li>Rouge-L : Longest Common Subsequence</li>
    </ul>
</div>